@using System.Web.UI.WebControls
<!--tutaj podstawowy template-->
@model SafeUp.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/michal.css" rel="stylesheet" type="text/css"/>

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>


</head>
<body>


    <nav class="navbar-fixed-top">
        <div id="logo"></div>

        <ul>
            <li>Start</li>
            <li>O projekcie</li>
            <li>Kontakt</li>

        </ul>


        <div id="ikona"></div>
    </nav>



        @RenderBody()



</body>
</html>
