@using System.Web.UI.WebControls
<!--tutaj podstawowy template-->
@model SafeUp.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/michal.css" rel="stylesheet" type="text/css"/>

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>


</head>
<body>

    <header class="navbar-fixed-top">
        <div id="logo"></div>
     
                <ul>
                    <li><button type="button" class="btn btn-primary btn-lg">Ipsum.</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Dolor.</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Sit.</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Amet.</button></li>
                    <li><button type="button" class="btn btn-primary btn-lg">Consectetur.</button></li>
                </ul>

        <div id="ikona"></div>
    </header>

    

    @RenderBody()



</body>
</html>
