@model SafeUp.Models.ViewModels.Files.FileShareModel

@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Udostępnij plik...</h2>
    </div>
    <div class="panel-body">
        <h3>Grupie:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Grupa</th>
                    <th>Uprawnienia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 0;
                  }
                @foreach(var group in Model.GroupsList)
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@group.Name</td>
                        <td>
                            @if (group.CreatedBy == (int)Session["ID"])
                            {
                                <text>Właściciel grupy</text>
                            }
                            else
                            {
                                <text>Członek grupy</text>
                            }
                        </td>
                        <td>
                            @if (Model.FileAddedToGroup[counter-1] == true)
                            {
                                @Ajax.ActionLink("Nie udostępniaj", "RemoveFileFromGroup", "MyFiles",
                                    new {IdGroup = group.ID, IdFile = Model.IdFile}, new AjaxOptions()
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "panel-replace-div",
                                    },
                                    new {@class = "btn btn-danger", type = "button", style = "border-radius:0; width: 140px; "})
                            }
                            else
                            {
                                @Ajax.ActionLink("Udostępnij", "AddFileToGroup", "MyFiles",
                                new { IdGroup = group.ID, IdFile = Model.IdFile }, new AjaxOptions()
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "panel-replace-div",
                                },
                                new { @class = "btn btn-success", type = "button", style = "border-radius:0; width: 140px; " })
                            }

                        
                        </td>

                    </tr>
                }
            </tbody>
        </table>



        <h3>Użytkownikowi:</h3>
    </div>
    <div id="partial-content" class="row">
        <div class="row">
            <div class="col-xs-9">
                <input type="text" placeholder="login" style="width: 100%; height: 33px"/>
            </div>
            <div class="col-xs-3">
                <div class="btn btn-success" type="button" style="margin-top:0; border-radius: 0;">Udostępnij</div>
            </div>
        </div>
    </div>
</div>