@model SafeUp.Models.LoggedIn.User

@{

    Layout = null;

}

<div id="partial-content" class="row">
    <div class="col-lg-12">
        <h2>Moje grupy</h2>
        <a href="#" class="btn btn-success" type="button" style="border-radius: 0; margin: 20px;">Dodaj grupę</a>


        <ul id="files-list">
            @foreach (var group in Model.GroupList)
            {
                <li>

                    @Ajax.ActionLink(group.Name, "UserManagement", "LoggedIn", new { CurrentName = group.Name, CurrentDateTime = group.CreatedOn, CurrentCreator = group.CreatedBy }, new AjaxOptions()
                        {
                            UpdateTargetId = "content-col",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            LoadingElementId = "loading"
                        })

                </li>
            }
        </ul>
    </div>
</div>
