
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Refresh" content="3;URL=@(Url.Action("Index", "Home"))">

</head>
<body>
<H2>Brak dostępu!</H2>
</body>
</html>
