
<!-- Home Section-->
<section id="home" class="page-section">
    <div class="container">
        <div class="row"><h2>Witaj nieznajomy</h2></div>
        <div class="row">
            <div class="col-lg-5 hello">
                <img src="~/Resources/secure_cloud.png" class="thumbnail hello" />
            </div>
            <div class="col-lg-7">
                <p>
                    <img src="~/Resources/final_logo.png" /><br />
                    <b>
                        SafeUp - przechowuj swoje zdjęcia, muzykę, filmy i inne pliki <u>bezpiecznie</u>
                        i <u>anonimowo!</u>
                    </b><br /><br />

                    <a class="page-scroll" href="#more">Dowiedz się więcej...</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Home Section -->
<section id="more" class="page-section">
    <div class="container">
        <div class="row"><h2>Dlaczego SafeUp?</h2></div>
        <div class="row">
            <div class="col-lg-5 hello">
                <img src="~/Resources/safeup.png" class="img-responsive" />
            </div>
            <div class="col-lg-7">
                <p>
                   Jeśli zależy Ci na tym, by magazynować swoje multimedia na całkowicie <b>bezpiecznym</b>
                   i <b>niezawodnym</b> serwisie przechowującym dane cyfrowe - <b>to SafeUp jest właśnie dla Ciebie!</b>
                </p>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <h2>Główne zalety projektu SafeUp:</h2>
            <ul>
                <li>Twóje cenne zdjęcia z wakacji lub innego typu dane są bezpieczne niezależnie od tego, czy sprzęt
                na którym je magazynowałeś się zepsuł, zgubił bądź w inny sposób został utracony.</li>
                <li>Twoje dane są chronione przed atakami hakerów, lub innych osób trzecich, które chciałyby uzyskać
                do nich dostęp bez twojego upoważnienia.</li>
                <li>Możesz się dzielić swoimi materiałami zgromadzonymi na serwerach aplikacji z innymi użytkownikami
                 serwisu i to w błyskawicznym tempie i na bardzo wysokim poziomie bepieczeństwa.</li>
                <li>Przechowuj dane w serwisie i miej do nich dostęp z każdego miejsca globu będącego w zasięgu sieci
                Internet.</li>
                <li>Korzystaj ze swoich danych w dowolnym miejscu i na dowolnym urządzeniu (smartfon, tablet, notebook,
                komputer klasy PC)</li>
            </ul>
        </div>
    </div>
</section>

<!-- Home Section -->
<section id="about" class="page-section">
    <div class="container">
        Dupa<br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</section>

<!-- Home Section -->
<section id="download" class="page-section">
    <div class="container">
        Dupa<br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</section>

<!-- Home Section -->
<section id="contact" class="page-section">
    <div class="container">
        Dupa<br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</section>


<!--Home section
<section id="home" class="intro-section">
    <div class="container">
        
    </div>
</section>

<!-- More Section 
<section id="more" class="more-section">
    <div class="container">
        <div class="row"><h2>Szczegóły</h2></div>
        <div class="row">
            <div class="col-lg-5">
                <img src="~/Resources/loggingIn.png" class="thumbnail" />
            </div>
            <div class="col-lg-7">
                <p>
                    Bezpieczeństwo blablabla
                </p>
            </div>
        </div>   
    </div>
</section>


<!-- About Section 
<section id="about" class="about-section">
    <div class="container">
        <div class="row"><h2>O projekcie</h2></div> 
        <div class="row">
            <div class="col-lg-5">              
                <img src="~/Resources/loggingIn.png" class="thumbnail" />
            </div>
            <div class="col-lg-7">
                <p>
                    Bezpieczeństwo blablabla
                </p>
            </div>
        </div>
    </div>
</section>



<!-- Contact Section 
<section id="contact" class="contact-section">
    <div class="container">
        <div class="jumbotron">
            <img src="~/Resources/logo.png" />
        </div>
    </div>
</section>







<!-- Intro Section 
<section id="home" class="intro-section">
    <div id="login">
        <div class="title">SafeUp</div>
        <img src="~/Resources/logo_STARE.png" class="img-responsive" />
        <input type="text" placeholder="Login" />
        <input type="text" placeholder="Password" />
        <input type="submit" value="Login" />
    </div>
</section>-->
