
<!-- Home Section-->
<section id="home" class="page-section">
    <div class="container">
        <div class="row"><h2>Witaj nieznajomy</h2></div>
        <div class="row">
            <div class="col-lg-5 hello">
                <img src="~/Resources/secure_cloud.png" class="thumbnail hello img-responsive" />
            </div>
            <div class="col-lg-7">
                <p>
                    <img src="~/Resources/final_logo.png" /><br />
                    <b>
                        SafeUp - przechowuj swoje zdjęcia, muzykę, filmy i inne pliki <u>bezpiecznie</u>
                        i <u>anonimowo!</u>
                    </b><br /><br />
                    <a class="page-scroll" href="#more">Dowiedz się więcej<br /><span class="glyphicon glyphicon-chevron-down"></span></a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Home Section -->
<section id="more" class="page-section">
    <div class="container">
        <div class="row"><h2>Dlaczego SafeUp?</h2></div>
        <div class="row">
            <div class="col-lg-5 hello">
                <img src="~/Resources/safeup.png" class="img-responsive" />
            </div>
            <div class="col-lg-7">
                <p>
                   Jeśli zależy Ci na tym, by magazynować swoje multimedia na całkowicie <b>bezpiecznym</b>
                   i <b>niezawodnym</b> serwisie przechowującym dane cyfrowe - <b><u>to SafeUp jest właśnie dla Ciebie!</u></b>
                    <br /><br />
                    <a class="page-scroll" href="#about">Funkcjonalności serwisu<br /><span class="glyphicon glyphicon-chevron-down"></span></a>
                </p>
            </div>
        </div>       
    </div>                 
</section>
<section id="about" class="page-section">
    <div class="container">
        <h2>Funkcjonalności</h2>
        <div id="pokaz-slajdow" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#pokaz-slajdow" data-slide-to="0" class="active"></li>
                <li data-target="#pokaz-slajdow" data-slide-to="1"></li>
                <li data-target="#pokaz-slajdow" data-slide-to="2"></li>
                <li data-target="#pokaz-slajdow" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Resources/file-sharing.jpg" alt="reklama" class="img-responsive img-rounded">
                </div>
                <div class="item">
                    <img src="~/Resources/data steal.png" alt="reklama" class="img-responsive img-rounded">
                </div>
                <div class="item">
                    <img src="~/Resources/mobile_devices.png" alt="reklama" class="img-responsive img-rounded">
                </div>
                <div class="item">
                    <img src="~/Resources/broken_device.png" alt="reklama" class="img-responsive img-rounded">
                </div>
            </div>
            <a class="left carousel-control" href="#pokaz-slajdow" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#pokaz-slajdow" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>
</section>