<div class="row">
        <div class=" col-lg-2 profile_photo img-rounded img-thumbnail img-responsive"></div>
        <div class="col-lg-2 info-col" style="margin-top: 5px;">
            <strong>Email:</strong> <br/>
            <strong>Telefon:</strong><br/>
            <strong>Skype:</strong> <br/>
            <strong>Abonament:</strong><br/>
            <br />
            <a href="#" style="background-color: transparent; font-size: small;">Zmień hasło</a>
        </div>
        <div class="col-lg-7 info-col" style="margin-top: 5px; padding-left: 0; margin-left: 0;">
            kasia@kowalska.pl<br />
            123456789<br />
            kasia.kowalska<br />
            silver (pozostało 60 dni)
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 add-photo-button">
            @Ajax.ActionLink("Dodaj zdjęcie", "#", "#", null,
        new { @class = "btn btn-success", type = "button", style = "border-radius:0px" })
    </div>

    <div class="col-lg-10"></div>
</div>
