<div class="jumbotron" style="color:yellow;">
    <p>Consectetur adipiscing elit fusce vel.</p>
    <p>Sapien elit in malesuada semper.</p>
    <p>Mi, id sollicitudin urna fermentum.</p>
    <p>Ut fusce varius nisl ac.</p>
    <p>Ipsum gravida vel pretium tellus.</p>
    <p>Tincidunt integer eu augue augue.</p>
    <p>Nunc elit dolor, luctus placerat.</p>
    <p>Scelerisque euismod, iaculis eu lacus.</p>
    <p>Nunc mi elit, vehicula ut.</p>
    <p>Laoreet ac, aliquam sit amet.</p>
</div>