<link href="~/Content/loggedInPills.css" rel="stylesheet"type="text/css"/>
<div style="float: left; margin-top: 70px; width:250px;">

    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Profil</a></li>
        <li role="presentation"><a href="#">Grupy</a></li>
        <li role="presentation"><a href="#">Katalogi</a></li>
        <li role="presentation"><a href="#">Ipsum.</a></li>
        <li role="presentation"><a href="#">Dolor.</a></li>
        <li role="presentation"><a href="#">Sit.</a></li>
        <li role="presentation"><a href="#">Amet.</a></li>
        <li role="presentation"><a href="#">Consectetur.</a> </li>
        <li role="presentation"><a href="#">Dolor.</a></li>
        <li role="presentation"><a href="#">Sit.</a></li>
        <li role="presentation"><a href="#">Amet.</a></li>
        <li role="presentation"><a href="#">Consectetur.</a> </li>
        <li role="presentation"><a href="#">Consectetur.</a> </li>
        <li role="presentation"><a href="#">Dolor.</a></li>
        <li role="presentation"><a href="#">Sit.</a></li>
        <li role="presentation"><a href="#">Amet.</a></li>
        <li role="presentation"><a href="#">Consectetur.</a> </li>
    </ul>
</div>