@{
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    
}

@section LoggedInCssSection
{
    <link href="~/Content/LoggedInNav.css" rel="stylesheet" type="text/css" />
}



@*<div class="jumbotron">@Html.ActionLink("Wyloguj", "Index", "Home");</div>*@
<div class="jumbotron">@Url.Action("Index","Home")#about</div>



    