@font-face {
    font-family: Roboto-Thin;
    src: url("../fonts/Roboto-Thin.ttf");
    font-weight:400;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
 
}
body {
    background: none;
    overflow-x: hidden;
    height: 100%;
 
}

.sidebar-nav {
 

    width: 225px;
    padding: 0;
    list-style: none;
    opacity:0.95;
    background-color: #243643;
    /*border-right: #fff;*/
    border-style:solid;
    border-width:1px;
    margin-left:0;
    height: 610px;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;


}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    background-color:  #243643;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    /*background: #617487;*/
    background: #06bb9a;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}


.sidebar-nav > a:hover {
    color: #fff;
    background: none;
}
#SafeUpText:hover {
    background: none;
}

#content-div {
    
    height: 610px;
    /*color: white;*/
    /*background-color: #06bb9a;*/

      color: black;
    background-color: rgb(242, 242, 242);
    min-height: 100%;
    padding: 0;
    margin: 0;
   
}

#content-div .profile_photo {
    background-image: url('../../Resources/smile_woman.jpg'); 
    width: 236px;
    height: 267px; 
    background-size: contain;
    padding: 0;
    margin: 5px;
  

}
#content-div .stat_photo {
    background-image: url('../../Resources/stats.png'); 

    width: 236px;
    height: 204px; 
    background-size: contain;
    padding: 0;
    margin: 5px;
}

.add-photo-button {
    padding: 5px 0 0 60px;
}

.info-col {
    padding-top: 15px;
    font-size: large;
    font-family: Roboto-Thin;

}

#side-nav-and-content {
    margin-top: 51px;
    padding: 0;
    margin-right: 0;
  
}

#content-div .row {
       margin: 0;
}

