body{
    /*background-color:#16627e;*/
    background-image: url("../Resources/background.jpg");
    background-attachment:fixed;
}
a{
    background-color:#243643;
}

.navbar{
    background-color:#243643;
    opacity:0.95;
}
.navbar-default .navbar-brand {
  color: #06bb9a;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #243643;
  background-color: #06bb9a;
}

.navbar-default .navbar-nav > li > a {
  color: #06bb9a;
}

.navbar-default .navbar-nav > li .form-control {
  padding: 6px 12px;
  margin: 8px auto;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #243643;
  background-color: #06bb9a;
}


.navbar-default { 
    border-bottom: 1px solid #06bb9a; 
}

.container {
  padding-top:20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
